.examples_slide {
  color: #fff;
  font-family: 'GothamPro';
  text-align: center;
}

.examples_slide_preview img {
  display: block;
}

.examples_slide_title {
  font-size: 28px;
  font-weight: 500;
}

.examples_slide_link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}
