/* BASE */
.hidden {
  display: none;
}

.hidden-with-js {
  display: none;
}

.no-js .hidden-with-js {
  display: block;
}

.invisible {
  visibility: hidden;
}

.invisible-with-js {
  visibility: hidden;
}

.no-js .invisible-with-js {
  visibility: visible;
}

.is-transparent {
  opacity: 0 !important;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.unactive_block {
  position: relative;
}

.unactive_block:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.hidden-control {
  position: absolute !important;
  z-index: -1 !important;
  opacity: 0 !important;
  margin: 0px !important;
  padding: 0px !important;
  visibility: hidden !important;
}

/* FORMS */
.r-textarea,
.r-form-control,
.reset-button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  text-align: inherit;
  min-height: none;
  min-width: none;
}

.r-textarea::placeholder,
.r-form-control::placeholder,
.reset-button::placeholder {
  color: inherit;
}

.btn-file {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: transparent;
  cursor: inherit;
  display: block;
}

.btn-file form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* LAYOUT */
.margin-module *:last-child {
  margin-bottom: 0;
}

.full-height-center {
  display: table;
  width: 100%;
}

.full-height-center > div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.allign {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
}

.allign-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.allign-top-left,
.allign-center-left,
.allign-bottom-left {
  text-align: left;
}

.allign-top-center,
.allign-center-center,
.allign-bottom-center {
  text-align: center;
}

.allign-top-right,
.allign-center-right,
.allign-bottom-right {
  text-align: right;
}

.allign-top-left,
.allign-top-center,
.allign-top-right {
  vertical-align: top;
}

.allign-center-left,
.allign-center-center,
.allign-center-right {
  vertical-align: middle;
}

.allign-bottom-left,
.allign-bottom-center,
.allign-bottom-right {
  vertical-align: bottom;
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: normal;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body, button, input, textarea {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  display: block;
}

a {
  text-decoration: none;
}

@keyframes rotate {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -360deg);
  }
  100% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes rotate-inverse {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes slide-in-top {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    min-width: 0;
    max-width: 0px;
  }
  to {
    opacity: 1;
    min-width: 527px;
    max-width: 500px;
  }
}

@keyframes slide-in-bottom {
  from {
    opacity: 0;
    max-height: 0px;
  }
  to {
    opacity: 1;
    max-height: 500px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'RopaSansSCPro';
  src: url("../fonts/RopaSansSCPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans';
  src: url("../fonts/PT_Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  background: #111;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 225px;
  background: #1c1c1c;
}

.main-title {
  position: relative;
  margin: 20px 15px;
  padding: 0 0 0 41px;
  font-family: 'PT_Sans';
  font-size: 18px;
  color: #666;
}

.main-title:before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 31px;
  height: 35px;
  background: url(../img/icon/logo.png);
  content: '';
}

.main-title span {
  display: block;
  margin: -3px 0 0;
  color: #999;
  font-size: 13px;
  opacity: 0.3;
}

ol {
  counter-reset: myCounter;
}

li {
  list-style: none;
}

.main-nav_item {
  position: relative;
  display: flex;
  height: 91px;
  border-top: 1px solid #111;
  padding: 10px 50px 10px 63px;
  font-family: 'RopaSansSCPro';
  font-size: 18px;
  color: #666;
  text-transform: uppercase;
}

.main-nav_item:last-child {
  border-bottom: 1px solid #111;
}

.main-nav_item p {
  margin: auto 0;
}

.main-nav_item:before {
  position: absolute;
  top: -6px;
  left: 10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #333;
  font-size: 48px;
}

.main-nav_item.is-active {
  color: #aeba3c;
}

.main-nav_item.is-active:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background: #aeba3c;
  content: '';
}

.main-nav_item.is-completed {
  color: #fff;
}

.progress {
  position: fixed;
  bottom: 41px;
  left: 8px;
  color: #999;
  font-family: 'RopaSansSCPro';
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.progress span {
  color: #aeba3c;
}

.progress-bar {
  margin: 7px 0 0;
  position: relative;
  display: block;
  width: 206px;
  height: 2px;
  background: #404040;
  content: '';
}

.progress-bar:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #ccc;
  width: 78px;
  content: '';
}

.control-panel {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 225px;
  padding: 8px 25px 8px 50px;
  background: #1c1c1c;
  font-family: 'PT_Sans';
  font-size: 13px;
  border-left: 1px solid #111;
}

.btn-accept, .btn-cancel {
  display: inline-block;
  width: 180px;
  padding: 12px 10px 13px;
  border-radius: 20px;
  text-align: center;
}

.btn-accept {
  color: #333;
  background: #aeba3c;
  border: 1px solid transparent;
}

.btn-cancel {
  color: #ccc;
  margin: 0 0 0 14px;
  border: 1px solid #333;
}

.btn-help {
  float: right;
  color: #ccc;
  margin: 12px 0 0;
}
