.work_desc {
  width: 50%;
  padding: 65px 100px 105px;
  color: #fff;
  font-family: 'PT_Sans-Regular';
  font-size: 16px;
}

.work_photo {
  float: left;
}

.work_photo img {
  display: block;
}

.work_photo__small {
  width: 25%;
}

.work_photo__large {
  width: 50%;
}
