//@import 'libraries';

@import 'modules/helpers';
@import 'modules/reset';
@import 'modules/tune';
@import 'modules/core-components';
@import 'modules/animation';
@import 'modules/mixins';

@import 'fonts';
@import 'editor';

body {
  background: #111;
}

img {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 225px;
  background: #111;
}

.sidebar_note {
  margin: 26px 0 0;
  border: 1px solid #3a3a3a;
  border-left: none;
  padding: 15px 10px;
  color: #999;
  font-family: 'PT_Sans';
  font-size: 13px;
  line-height: 1.3;
}

.main-nav {
  margin: 66px 0 0;
  counter-reset: myCounter;
}

li{
  list-style: none;
}

.main-nav_item {
  position: relative;
  display: flex;
  height: 91px;
  padding: 10px 50px 10px 63px;
  background: #181818;
  border-top: 1px solid #111;
  color: #111;
  font-family: 'RopaSansSCPro';
  font-size: 18px;
  text-transform: uppercase;

  &:last-child {
    border-bottom: 1px solid #111;
  }

  p {
    margin: auto 0;
  }

  &:before {
    position: absolute;
    top: -6px;
    left: 10px;
    counter-increment: myCounter;
    content:counter(myCounter);
    color: #333;
    font-size: 48px;
  }

  &.is-active {
    color: #aeba3c;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      background: #aeba3c;
      content: '';
    }
  }

  &.is-completed {
    color: #fff;
  }
}

.content{
  margin: 0 0 0 225px;
}

.main-title {
  position: absolute;
  width: 165px;
  top: 30px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 0 0 41px;
  color: #333;
  font-family: 'PT_Sans';
  font-size: 21px;

  &:before {
    position: absolute;
    top: -3px;
    left: 0;
    display: block;
    width: 31px;
    height: 35px;
    background: url(../img/icon/logo.png);
    content: '';
  }
}

.content_header {
  height: 80px;
}

.age {
  position: relative;
  float: right;
  margin: 35px 58px 0 0;
}

.age_setting {
  color: #444;
  font-family: 'RopaSansSCPro';
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;

  span {
    margin: 0 0 0 6px;
    color: #fff;
    cursor: pointer;
  }
}

.age_help {
  position: absolute;
  top: 29px;
  right: 0;
  width: 209px;
  border: 1px solid #3a3a3a;
  padding: 10px 15px 9px 12px;
  font-family: 'PT_Sans';
}

.age_help_text {
  color: #999;
  font-size: 13px;
  line-height: 1.2;
}

.age_help_close {
  float: right;
  margin: 6px 0 0;
  color: #666;
  font-size: 12px;
  border-bottom: 1px dashed #666;
  cursor: pointer;
}
