.radio-preview {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 262px;
  margin: 15px 10px;
  background: #303030;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  vertical-align: top;

  &.is-favorite {
    .radio-preview_fav {
      display: block;
    }
  }

  &.in-vk {
    .radio-preview_title {
      &:before {
        display: inline-block;
        margin: 0 6px 0 0;
        width: 14px;
        height: 8px;
        background: url(../img/icon/vk.png);
        content: '';
      }
    }
  }

  &:hover {
    cursor: pointer;

    &:before {
      position: absolute;
      top: 60px;
      right: 0;
      left: 0;
      display: block;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      background: url(../img/icon/play.png);
      content: '';
    }
  }

  &.is-playing {
    background: #f2f2f2;

    .radio-preview_title {
      color: #151515;
    }

    &:before, &:after {
      position: absolute;
      display: block;
      content: '';
    }

    &:after {
      top: 10px;
      left: 10px;
      width: 14px;
      height: 12px;
      background: url(../img/icon/sound.png);
    }

    &:before {
      top: 60px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      background: url(../img/icon/playing.png);
    }
  }
}

.radio-preview_title {
  margin: 10px 30px;
  color: #f2f2f2;
  font-family: 'SFUIText';
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

.radio-preview_fav {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 49px;
  height: 49px;
  background: url(../img/icon/favorite-bg.png);
  content: '';

  &:before {
    display: block;
    top: 7px;
    right: 7px;
    position: absolute;
    width: 12px;
    height: 12px;
    background: url(../img/icon/favorite.png);
    content: '';
  }
}
