doctype html
html
  head
    meta charset='utf-8'
    link href='css/main.css' rel='stylesheet'

  body
    .sidebar
      .main-title
        | HumanDesign
        span We create the future
      ol.main-nav
        li.main-nav_item
          p Информация
        li.main-nav_item.is-active
          p внешность
        li.main-nav_item
          p физические качества
        li.main-nav_item
          p Способности
        li.main-nav_item
          p темперамент
        li.main-nav_item
          p характер
      .progress
        | выполнено:
        span  30%
        .progress-bar
    .content
      .control-panel
        .btn-help Нужна помощь?
        .btn-accept Применить
        .btn-cancel Отменить
