.player {
  position: relative;
  padding: 13px 20px;
}

.player_pic {
  float: left;

  img {
    display: block;
  }
}

.player_title {
  display: inline-block;
  margin: 3px 0 0 11px;
  font-family: 'SFUIText';
  font-size: 13px;
  font-weight: 300;
}

.player_title_name {
  display: inline-block;
  color: #dadada;

  &:before {
    display: inline-block;
    margin: 0 7px 0 0;
    width: 14px;
    height: 12px;
    background: url(../img/icon/sound-player.png);
    content: '';
  }
}

.player_title_autor {
  display: inline-block;
  color: #b7b6b6;
  margin: 0 0 0 10px;

  &:before {
    position: relative;
    bottom: 4px;
    display: inline-block;
    margin: 0 10px 0 0;
    width: 11px;
    height: 1px;
    background: #5c5c5c;
    content: ''
  }
}

.player_add-btn {
  display: inline-block;
  margin: 0 0 0 10px;
  width: 12px;
  height: 12px;
  background: url(../img/icon/player-add.png);
  cursor: pointer;
  content: '';
}

.player_social {
  margin: 2px 0 0 46px;
  color: #6a6a75;
  font-family: 'SFUIText';
  font-size: 13px;

  &:after {
    position: relative;
    top: 1px;
    display: inline-block;
    margin: 0 0 0 4px;
    width: 13px;
    height: 13px;
    background: url(../img/icon/star.png);
    content: '';
  }
}



.player_volume {
  float: right;
  margin: 8px 0 0;
}

.player_volume_off {
  display: inline-block;
  margin: 0 11px 0 0;
  width: 19px;
  height: 17px;
  background: url(../img/icon/volume.png);
  vertical-align: middle;
  content: '';
}

.player_volume_controls {
  position: relative;
  display: inline-block;
  width: 122px;
  height: 6px;
  border: 1px solid #161313;
  border-radius: 3px;
  background: #434343;
  vertical-align: middle;
  content: '';

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 62px;
    background: #ff192e;
    border-radius: 2px;
    content: '';
  }

  &:after {
    position: absolute;
    top: -4px;
    left: 55px;
    display: block;
    width: 12px;
    height: 12px;
    background: #d1d1d1;
    border-radius: 50%;
    content: '';
  }
}

.player_control-btn {
  position: absolute;
  top: 12px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 41px;
  height: 41px;
  background: #090909;
  border: 2px solid #5e5151;
  border-radius: 50%;
  content: '';

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 5px;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon/player-play.png);
    content: '';
  }

  &.is-active {
    &:before {
      left: 0;
      width: 11px;
      height: 15px;
      background: url(../img/icon/player-pause.png);
    }
  }
}
